body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
}

.container {
    padding-top: 25vh;
}

.container > div{
    background: rgba(45,45,45,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,1);
    color: white;
}

.form-control {
    background: rgba(45,45,45,0.9);
    border-color: rgb(25, 25, 25);
    box-shadow: 0 0 20px rgba(0,0,0,1);
    color: white;
}